{% extends 'base.html' %}
{% load static %}

{% block title %}
    VOLF | Change Password
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let theme = getCookie('theme') || 'dark';
            let link = document.createElement('link');
            link.rel = 'stylesheet';
            if (theme === 'light') {
                link.href = '{% static "css/light/change_password_light.css" %}';
            } else {
                link.href = '{% static "css/dark/change_password_dark.css" %}';
            }
            document.head.appendChild(link);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            <form method="POST" class="form-content change_password-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="nav-link nav-link-box" style="font-size: 15px !important;">Change Password</button>
            </form>
            <div class="text_container" style="width: 72%;">
                <ul>
                    <li> The password must contain at least 8 characters.</li>
                    <li> The password cannot be a commonly used password.</li>
                    <li> The password cannot consist only of digits.</li>
                    <li> After a successful password change, you will be redirected to the homepage.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
